# Dependency directory
node_modules/

# truffle build directory
build/contracts/*
!build/contracts/.gitkeep

# coverage directory
coverage/*
!coverage/.gitkeep

# Ignore compiled contracts
bin/

# Ignore compiled coverage reports
coverage/
coverage.json